body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  background: #222;
  padding: 15px;
}

.logo {
  color: white;
}

.container {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 300px;
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

.output {
  margin-top: 20px;
  font-weight: bold;
}
